database:
    driver: pdo_mysql
    host: localhost
    dbname: laskunautti
    user: root
    password:
    charset: utf8

email:
    host: smtp.gmail.com
    port: 465
    username: youremail@gmail.com
    password: yourpassword
    encryption: ssl
    auth_mode: login

barcode:
    barcode_location: /opt/local/bin/barcode
    convert_location: /opt/local/bin/convert
    barcode_target: /Users/arturgajewski/workspace/laskunautti/data
